<h1 mat-dialog-title>Add Grow</h1>
<div mat-dialog-content class="grow-modal">
    <form [formGroup]="growForm">
        <mat-form-field class="row">
            <input matInput placeholder="Grow Name" formControlName="name" autocomplete="off" data-lpignore="true">
        </mat-form-field>
        <mat-form-field class="row">
            <input matInput [matDatepicker]="picker" placeholder="Start Date" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<button mat-raised-button color="accent" (click)="save()" [disabled]="this.growForm.invalid">Add</button>