<div id="dashboard">
    <div id="flowers" class="col-sm-8">
        <h3>Flowers</h3>
        <ul class="list-group">
            <li class="list-group-item col-sm-4" *ngFor="let flower of flowers" [routerLink]="['/flowers', flower._id]">
                <span class="col-sm-12">{{flower.identifier}} - ({{findStrain(flower.strain)}})</span>
                <span class="col-sm-12">{{findGrow(flower.grow)}} - {{flower.planted | findage}} days</span>
                <i class="fa fa-chevron-right pull-right"></i>
            </li>
        </ul>
    </div>
    <div id="grows" class="col-sm-4">
        <h3>Grows</h3>
    </div>
    <div id="nutrients" class="col-sm-4">
        <h3>Nutrients</h3>
    </div>
</div>