<div id="dashboard">
    <div class="jumbotron" [routerLink]="['/nutes']">
        <h1 class="display-4">
            <i class="fa fa-flask" aria-hidden="true"></i>
        </h1>
        <h1 class="display-4">
            Nutrients
        </h1>
    </div>
    <div class="jumbotron" [routerLink]="['/flowers']">
        <h1 class="display-4">
            <i class="fa fa-leaf" aria-hidden="true"></i>
        </h1>
        <h1 class="display-4">
            Flowers
        </h1>
    </div>
    <div class="jumbotron" [routerLink]="['/grows']">
        <h1 class="display-4">
            <i class="fa fa-leaf" aria-hidden="true"></i>
        </h1>
        <h1 class="display-4">
            Grows
        </h1>
    </div>
    <!-- <div class="jumbotron" [routerLink]="['/cycles']">
        <h1 class="display-4">
            <i class="fa fa-flask" aria-hidden="true"></i>
        </h1>
        <h1 class="display-4">
            Cycles
        </h1>
    </div> -->
    <div class="jumbotron" [routerLink]="['/strains']">
        <h1 class="display-4">
            <i class="fa fa-tree" aria-hidden="true"></i>
        </h1>
        <h1 class="display-4">
            Strains
        </h1>
    </div>
</div>