#dashboard {
    .list-group {
        margin-left: 10px;
        margin-bottom: 15px;
        cursor: pointer;
        .list-group-item {
            background-color: rgba(0, 0, 0, .1);
            .fa-chevron-right {
                position: absolute;
                right: 10px;
            }
        }
    }
}