<div class="dashboard col-sm-6">
    <div>
        <h3>Flowers</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let flower of flowers" [routerLink]="['/flowers', flower._id]">
                <p class="flower-id">{{flower.identifier}} - ({{findStrain(flower.strain)}})</p>
                <p class="grow-info">Grow: {{findGrow(flower.grow)}} - {{flower.planted | findage}} days</p>
                <i class="fa fa-chevron-right pull-right"></i>
            </li>
        </ul>
    </div>
    <div>
        <h3>Grows</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let grow of grows" [routerLink]="['/grows', grow._id]">
                <p>{{grow.name}}</p>
                <i class="fa fa-chevron-right pull-right"></i>
            </li>
        </ul>
    </div>
    <div>
        <h3>Nutrients</h3>
    </div>
</div>