@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~font-awesome/css/font-awesome.css";

@import './variables.scss';


body {
    background: $slate;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    .jumbotron {
        background: $slate;
    }
    .card {
        background: $slate;
        color: $seafoam;
        margin: 1em;
        cursor: pointer;
    }
}