@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~font-awesome/css/font-awesome.css";

@import './variables.scss';


body {
    background: $bg;
    color: $text;
    font-family: 'Roboto Condensed', sans-serif;
    .card {
        background: $panel;
        color: $green;
        border-radius: 0%;
        margin: 1em;
        cursor: pointer;
    }
}