@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~font-awesome/css/font-awesome.css";

$fogra: #040404;
$timber: #d7d9ce;
$seaweed: #0c7489;
$bgreen: #119da4;
$mgreen: #13505B;

body {
    background: $seaweed;
    .jumbotron {
        background: $timber;
    }
    .card {
        background: $mgreen;
        color: $timber;
        margin: 1em;
    }
}