@import '../../../../variables.scss';

.history {
    .history-legend {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        label {
            margin-right: 10px;
            font-size: 0.85em;
            color: $darkgreen;
        }
    }
    .transplanted > .fa-circle {
        color: #645e9d;
    }
    .flushed > .fa-circle {
        color: #93a3b1;
    }
    .watered > .fa-circle {
        color: #99d5c9;
    }
    .defeciencys > .fa-circle {
        color: #ffa69e;
    }
    .flowered > .fa-circle {
        color: #ac80a0;
    }
    table {
        margin-top: 15px;
        th {
            font-weight: normal;
        }
        td {
            font-weight: lighter;
        }
        th, td {
            border: 1px solid $darkgreen;
            border-radius: 2px;
        }
        span, p {
            font-size: 0.85em;
        }
        .fa-circle {
            margin-right: 3px;
        }
        .delete {
            width: 1%;
        }
        .fa-times {
            cursor: pointer;
        }
    }
}