<h1 mat-dialog-title>Add Flower</h1>
<div mat-dialog-content class="flower-modal">
    <form [formGroup]="flowerForm">
        <mat-form-field class="row">
            <mat-select placeholder="Strain" formControlName="strain" required>
                <mat-option *ngFor="let strain of strains" [value]="strain._id">
                    {{strain.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="row">
            <mat-select placeholder="Grow" formControlName="grow" required>
                <mat-option *ngFor="let grow of grows" [value]="grow._id">
                    {{grow.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="row">
            <input matInput placeholder="Identifier" formControlName="identifier">
        </mat-form-field>

        <mat-form-field class="row">
            <input matInput [matDatepicker]="picker" placeholder="Planted" formControlName="planted">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle [color]="'primary'" formControlName="harvested" class="row">
            Harvested
        </mat-slide-toggle>
        <mat-form-field class="row" *ngIf="flowerForm.get('harvested').value">
            <input matInput [matDatepicker]="picker" placeholder="Date Harvested" formControlName="harvested">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="row" *ngIf="flowerForm.get('harvested').value">
            <input matInput placeholder="Yield" formControlName="yield">
        </mat-form-field>

        <mat-slide-toggle [color]="'primary'" formControlName="mother" class="row">
            Mother
        </mat-slide-toggle>
        <!-- todo replace with multiselect of clones -->
        <mat-form-field class="row" *ngIf="flowerForm.get('mother').value">
            <input matInput placeholder="Children" formControlName="children">
        </mat-form-field>

        <mat-slide-toggle [color]="'primary'" formControlName="clone" class="row">
            Clone
        </mat-slide-toggle>
        <mat-form-field class="row" *ngIf="flowerForm.get('clone').value">
            <input matInput [matDatepicker]="picker" placeholder="Clone Date" formControlName="cloneStart">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- todo add notes -->
    </form>
</div>
<button mat-raised-button color="accent" (click)="save()" [disabled]="this.flowerForm.invalid">Add</button>