<div class="jumbotron" id="flower-container">
    <h1 class="display-4">
        <i class="fa fa-leaf" aria-hidden="true"></i>
        Flowers</h1>
    <hr class="my-4">
    <div class="card text-center" *ngFor="let flower of flowers" [routerLink]="['/flowers/', flower._id]">
        <div class="card-block">
            <h4 class="card-title">{{flower.identifier}}</h4>
            <p class="card-text">grow : {{findGrow(flower.grow)}}</p>
            <p class="card-text">strain : {{findStrain(flower.strain)}}</p>
            <p class="card-text">planted : {{flower.planted | year}}</p>
            <i class="fa fa-times" aria-hidden="true" (click)="delete(flower)"></i>
        </div>
    </div>
    <button class="btn btn-primary" (click)="addFlower()" id="flower-add">Add</button>
</div>