@import '../../variables.scss';

.flower-container {
  margin-top: 1vh;
  .card {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    float: left;
  }
  .lead {
    display: flex;
    justify-content: space-around;
  }
  .fa-times {
    cursor: pointer;
  }
  .flower-add {
    position: fixed;
    bottom: 1vh;
    right: 3vh;
  }
}

.flower-modal {
  .row {
    width: 100%;
  }
  form {
    padding: 1em;
  }
}

.flower-details {
  .details {
    background: $slate;
    border-radius: 2px;
    padding: 1em;
    text-align: center;
    border: 1px solid $seafoam;
  }
  .notes-add {
    position: fixed;
    bottom: 1vh;
    right: 6vh;
  }
  .flower-harvested {
    position: fixed;
    bottom: 6vh;
    right: 6vh;
  }

}
