#flower-container {
    margin-top: 1vh;
    height: calc(98vh);
    .card {
      display: flex;
      justify-content: space-evenly;
      width: 30%;
      float: left;
    }
    .lead {
      display: flex;
      justify-content: space-around;
    }
    .fa-times {
      cursor: pointer;
    }
    #flower-add{
      position: absolute;
      bottom: 1vh;
      right: 3vh;
    }
  }
  #flower-modal {
    .row {
      width: 100%;
    }
    form {
      padding: 1em;
    }
  }
  