@import '../variables.scss';

.nav {
    background: $slate;
    border-radius: 1%;
    .nav-link {
        color: $br;
        &:hover {
            color: $rust;
        }
        &.active {
            color: $rust;
        }
    }
}