@import '../variables.scss';

.nav {
    background: $artichoke;
    border-radius: 1%;
    .nav-link {
        color: $jet;
        &:hover {
            color: $rocker;
        }
        &.active {
            color: $ash;
        }
    }
}