@import '../variables.scss';

.nav {
    background: $bg;
    border-radius: 1%;
    .nav-link {
        color: $darkblue;
        &:hover {
            color: $orange;
        }
        &.active {
            color: $green;
        }
    }
}