<p>moment works {{time}}</p>

<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">checking jquery</a>
    </div>
</div>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Material works?" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>