#nute-container {
  .card {
    float: left;
    width: 30%;
  }
  #nute-list {
    margin-bottom: 30px;
  }
  #action-bar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
}
