<div id="nute-container" class="col-xl-12">
    <div class="card text-center" *ngFor="let nute of nutes" id="nute-list">
        <div class="card-block">
            <h4 class="card-title">{{nute.name}}</h4>
            <p class="card-text">active : {{nute.active}}</p>
            <p class="card-text">need : {{nute.need}}</p>
            <p class="card-text">added : {{nute.added}}</p>
        </div>
    </div>
    <div class="col-xl-12 text-center" id="action-bar">
        <button class="btn btn-primary">Add</button>
    </div>
</div>