.nute-container {
  margin-top: 1vh;
  .card {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    float: left;
  }
  .lead {
    display: flex;
    justify-content: space-around;
  }
  .fa-times {
    cursor: pointer;
  }
  .nute-add{
    position: fixed;
    bottom: 1vh;
    right: 3vh;
  }
}
.nute-modal {
  .row {
    width: 100%;
  }
  form {
    padding: 1em;
  }
}
