<div class="nute-container">
    <h1 class="display-4">
        <i class="fa fa-flask" aria-hidden="true"></i>
        Nutrients</h1>
    <hr class="my-4">
    <ng-container *ngFor="let nute of nutes">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">{{nute.name}}</h4>
                <p class="card-text">need : {{nute.need}}</p>
                <i class="fa fa-times" aria-hidden="true" (click)="delete(nute); $event.stopPropagation();"></i>
            </div>
        </div>
    </ng-container>
    <button mat-raised-button color="accent" (click)="addNute()" class="nute-add">Add</button>
</div>