#nute-container {
  margin-top: 10px;
  .card {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }
  .lead {
    display: flex;
    justify-content: space-around;
  }
  .fa-times {
    cursor: pointer;
  }
}
#nute-modal {
  .row {
    width: 100%;
  }
  form {
    padding: 1em;
  }
}
