<div class="strain-container">
    <h1 class="display-4">
        <i class="fa fa-tree" aria-hidden="true"></i>
        Strains</h1>
    <hr class="my-4">
    <ng-container *ngFor="let strain of strains">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">{{strain.name}}</h4>
                <p class="card-text">breeder : {{strain.breeder}}</p>
                <p class="card-text">genetics : {{strain.genetics}}</p>
                <p class="card-text">source : {{strain.source}}</p>
                <i class="fa fa-times" aria-hidden="true" (click)="delete(strain); $event.stopPropagation();"></i>
            </div>
        </div>
    </ng-container>
    <button mat-raised-button color="accent" (click)="addStrain()" class="strain-add">Add</button>
</div>